[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pywin32 = "*"
speechrecognition = "*"
pyttsx3 = "*"
pipwin = "*"
pyaudio = "*"
playsound = "*"

[dev-packages]

[requires]
python_version = "3.9"
